<%= form_for(@article) do |f| %>
  <h3><%= f.label :title %></h3>
  <p><%= f.text_field :title , :size =>100%></p>

  <h3><%= f.label :content %></h3>
  <%= f.text_area :content, :cols => "100", :rows => "20" %>
  <%= f.submit %>
<% end %>

